@import url(../css/style.css);
/********navigation section*************/
.menu-min-div{
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
}
.custom-menubar .logo{
    width: 85px;
    height: 85px;
    padding: 7px;
    cursor: pointer;
  }
  .custom-menubar .logo-title h2{
    font-family: var(--roboto) !important;
    font-size: 24px;
    font-weight: bold;
    color:#da924e;
    cursor: pointer;
  }
  .custom-menubar .logo-title h2:first-child{
    padding-top: 15px;
    line-height: 20px;
  }
  .custom-items{
    margin-top: 10px;
  }
  .custom-items li{
    list-style-type: none;
    padding: 30px 20px 13px 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }
  .custom-items li a{
    font-family: var(--roboto);
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    color:#0f2444;
    transition: all ease-in-out .1s;
    -webkit-transition: all ease-in-out .1s;
    -moz-transition: all ease-in-out .1s;
    -ms-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
  }
  .user-id{
    position: relative;
  }
  .user-id:hover .dropdown-div{
    display: block;
  }
  .user-id a{
    color:#059669 !important;
    font-weight: 600 !important;
  }
  .dropdown-div{
    position: absolute;
    top: 70px;
    right: 14% !important;
    width: 300px;
    height: 150px;
    background-color: #ffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 9999;
    overflow: hidden;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    display: none;
  }
  .dropdown-div div{
    padding-top: 30px;
  }
  .dropdown-div div h2{
    font-family: var(--roboto);
    font-size: 17px;
    color:#505050;
    text-align: center;
  }
  .dropdown-div div h2:hover{
    color:#da924e;
  }
  .dropdown-div div h2 span i{
    padding-right: 10px;
    color:#505050;
  }
  .dropdown-div div p {
    text-align: center;
    padding-top: 20px;
  }
  .dropdown-div div p button{
    font-family: var(--roboto);
    padding: 5px 30px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #10b981;
    font-weight: 500;
    color:#fff;
  }
  .dropdown-div div p button:hover{
    background-color: #078f61;
  }
  .custom-items li a:hover{
    color:#eb9d54; 
  }
  .custom-menubar .toggle i{
    font-size: 20px;
    cursor: pointer;
    color:#da924e;
  }
  .custom-menubar .toggle i:hover{
    color:#ffa856;
  }
  /* ******************aleart section***************** */
.alert-messages{
    background-color: #ffffff;
    width: 70%;
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .aleart-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
/* **********custom-footer************ */
.custom-footer{
  border-top: 3px solid #10b981;
  background-color: #ecfdf5;
}
.powered-by {
  padding: 50px 30px;
}
.powered-by h6{
  font-family: var(--r_condensed);
  font-size: 25px;
  color:#da924e;
  padding-bottom: 10px;
}
.powered-by-card{
  color:#333333;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.powered-by-card img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
}
.powered-by-card .name{
  font-family: var(--roboto);
  padding:  20px 10px 0 5px;
  line-height: 0;
  font-size: 26px;
}
.powered-by-card  div{
  padding-top: 15px;
}
.powered-by-card .working{
  font-family: var(--roboto);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 10px;
}
.custom-tc p a{
  font-family: var(--roboto);
  font-size: 18px;
  letter-spacing: .2px;
  color:#3a7749;
}
.custom-footer-logo .logo-text{
  font-family: var(--roboto);
}
.custom-footer-logo .logo-text p:first-child{
  font-size: 26px;
  color:#da924e;
}

/* ***********media screen************  */
/* *******576px******** */
@media (min-width: 576px) {
  /*dropdown menu*/
  .dropdown-div{
    position: absolute;
    left: -50%;
    width: 400px;
  }
}
/* *******576px******** */
@media (min-width: 768px) {
    /*dropdown menu*/
    .dropdown-div{
      position: absolute;
      left: -40%;
      width: 450px;
    }
}
/* *******991px******** */
@media (max-width: 991px) {
 .custom-menubar .logo{
    width: 75px;
    height: 75px;
 }
 .custom-menubar .logo-title h2{
   font-size: 20px;
 }
 .menu-min-div{
   margin-top: 80px !important;
 }
 .custom-items li{
   text-align: center;
   padding: 15px 0 !important;
 }
 .custom-items li:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
 }
 .custom-items ul li a{
   display: inline-block;
 }
 .toggle{
   display: flex;
   justify-content: end;
 }
 /*dropdown menu*/
 .dropdown-div{
   position: absolute;
   left: -25%;
 }
      /***footer***/
  .custom-footer{
    margin-top: 50px;
    padding-bottom: 50px;
  }
}
/* *******992px******** */
@media (min-width: 992px) {
  .custom-menubar{
    padding: 0 30px;
  }
  .custom-items li {
    padding: 30px 12px 13px 12px;
  }
  .custom-items li a {
    font-size: 16px;
    font-weight: 400;
  }
  /*dropdown menu*/
  .dropdown-div{
    right: 15% !important;
    width: 215px !important;
  }
}
/* *******1200px******** */
@media (min-width: 1200px) {
    .custom-items li {
      padding: 30px 15px 13px 15px;
    }
    .custom-items li a {
      font-size: 17px;
      font-weight: 400;
    }
    .custom-menubar{
        padding: 0 50px;
     }
  }