/*******nav_Header_Footer*******/
@import url('../css/navigation_header_footer.css');

.text-danger {
	color: #dc3545 !important;
	font-family: var(--roboto) !important;
}
/******Timer section*******/ 
.timer{
    border: 2px solid #f3a358;
    margin: 20px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.custom-remaining{
    font-family: var( --roboto);
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.custom-timer{
    color:#f3a358;
}
.custom-otp-c{
    margin: 20px 30px;
    box-shadow: 1px 1px 4px 0px #cfcfcf;
}
.verify-phone-number{
    font-family: var( --roboto);
}
.custom-input-p-number{
    padding: 5px 2px !important;
    outline: 2px solid #059669 !important;
}
.otp-img{
    font-family: var(--roboto);
}
.custom-otp-h{
    color: #595c7d;
}
.custom-otp-p{
    color:#777676;
}
.otp-input{
    margin: 20px 30px;
}
.custom-input-otp{
    background-color: #e9e6e6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    color:#777676;
}
.otp-input input{
    outline: none;
    border: 2px solid transparent !important;
}
.otp-input input:focus{
    border: 2px solid #059669 !important;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.resend-otp{
    margin: 20px 30px;
    font-family: var(--roboto);
}
.resend-otp p a{
    color:rgb(170, 168, 168);
    font-weight: 400;
}
.otp-submit{
    margin: 20px 30px;
    font-family: var(--roboto);
}
.otp-submit-btn{
    background-color:#7eb2a2;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}
.otp_Btn_Active{
    background-color: #00b871;
}
#resend_Otp{
    cursor: pointer;
    text-decoration: underline;
}